<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77926449210-gj1hk2gq74c5pi9l6vhh4v1je6kml9u7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77926449210-gj1hk2gq74c5pi9l6vhh4v1je6kml9u7</string>
	<key>API_KEY</key>
	<string>AIzaSyAuM1SrgeWFtoRHN_R5t2qOHlmhgEApJ_0</string>
	<key>GCM_SENDER_ID</key>
	<string>77926449210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Minjong.Work-Out-Timer</string>
	<key>PROJECT_ID</key>
	<string>workouttimer-b82da</string>
	<key>STORAGE_BUCKET</key>
	<string>workouttimer-b82da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77926449210:ios:555e642ba1a26626e4f503</string>
</dict>
</plist>